.booking__capacity {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.booking__capacity-label {
  font-size: 11px;
  font-weight: 600;
  color: #9ba5bd;
}

.booking__capacity-control {
  width: 160px;
  height: 40px;
  padding: 0 12px;

  display: flex;
  align-items: center;

  border: 1px solid #e5e7eb;
  border-radius: 10px;
  box-sizing: border-box;
}
